<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="Test">
        <classes>
            <class name="day8APIChaining.CreateUser"/>
            <class name="day8APIChaining.GetUser"/>
            <class name="day8APIChaining.UpdateUser"/>
            <class name="day8APIChaining.DeleteUser"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
